.navbar {
  background-color: #87a96b;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  background-color: #807a7a;
  border-radius: 10px;
  padding: 5px 10px;
}

input[type="text"] {
  border: none;
  padding: 8px;
  border-radius: 5px;
  background-color: azure;
  outline: none;
  width: 400px;
  height: 20px;
  color: black;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

@media (max-width: 786px) {
  input[type="text"] {
    padding: 2px;
    width: 200px;
  }
}
